@media only screen and (max-device-width: 768px) {
	body {
		background: radial-gradient(circle, #F5E8DC 70%, #f17474 100%) !important;

		margin: 0 !important;
		padding: 0 !important;
		background-repeat: no-repeat !important;
		background-attachment: fixed !important;
		background-size: cover !important;
		font-family: 'Cairo', sans-serif !important;

	}

	#text {
		width: 760px !important;
		height: auto !important;
		left: 300px !important;
		top: 700px !important;
		position: absolute !important;
	}


	#code {
		display: none;
		font-size: 48px !important;
		line-height: 2.2 !important;
		word-wrap: break-word;

	}


	#clock-box {
		position: absolute;
		left: 88px !important;
		top: 560px !important;
		font-size: 38px !important;
		display: none;
	}


}

body {
	margin: 0;
	padding: 0;
	background: radial-gradient(circle, #F5E8DC 75%, #f17474 100%);
	color-scheme: only light;
	font-family: 'Cairo', sans-serif;
}


a {
	color: #5C4033;
	font-size: 14px;
}

#main {
	width: 100%;
}

#wrap {
	position: relative;
	margin: 0 auto;
	width: 1100px;
	height: 680px;
	margin-top: 100px;
}

#text {
	width: 430px;
	height: auto;
	left: 70px;
	top: 40px;
	position: absolute;
}

#code {
	display: none;
	font-size: 24px;
	line-height: 1.8;
	word-wrap: break-word;
}


#clock-box {
	position: absolute;
	left: 108px;
	top: 585px;
	font-size: 28px;
	display: none;
}

#clock-box a {
	font-size: 28px;
	text-decoration: none;
}

#clock {
	margin-left: 5px;
}

#clock .digit {
	font-size: 40px;
}

#canvas {
	margin: 0 auto;
	width: 1100px;
	height: 680px;
}

#error {
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	display: none;
}

.hand {
	cursor: pointer;
}

.say {
	margin-left: 5px;
}

.space {
	margin-right: 150px;
}
